*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #263238;
}
section{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px 0;
}
.book__inner-list{
    padding: 0;
    margin: 0 0 50px;
}
.book__title{
    font-size: 25px;
    font-weight: bold;
}
.todo_item_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todo_item_footer p{
    font-size: 15px;
    font-family: sans-serif;
}
.todo_item_footer .action_button{
    display: flex;
}
.todo_item_footer img{
    width: 25px;
    height: 25px;
    margin: 0px 5px;
    cursor: pointer;
}