{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
</head>
<body>
    <section>
        <div class="create_container">
        <form action="{% url 'add-book' %}" method="POST">
            {% csrf_token %}
            <input class="create_input" type="text" placeholder="Напишите загаловок" name="book_title">
            <input class="create_input" type="text" placeholder="Напишите подзагаловок" name="book_subtitle">
            <input class="create_input" type="text" placeholder="Напишите описание" name="book_description">
            <input class="create_input" type="text" placeholder="Напишите цену" name="book_price">
            <input class="create_input" type="text" placeholder="Напишите жанр" name="book_genre">
            <input class="create_input" type="text" placeholder="Напишите автора" name="book_author">
            <input class="create_input" type="text" placeholder="Напишите год выхода книги" name="book_year">
            <button class="create_button">Добавить</button>
        </form>
        </div>
        
        <div class="book__inner-list">
          {% for books in books_list %}
          <div class="book__item
          {% if books.is_favorite %}
                marked
            {% endif %}
          ">
            <div class="book__title">{{ books.title }}</div>
            <div class="book__subtitle">{{ books.subtitle }}</div>
            <div class="book__description">{{ books.description }}</div>
            <div class="book__price">{{ books.price }}</div>
            <div class="book__genre">{{ books.genre }}</div>
            <div class="book__author">{{ books.author }}</div>
            <div class="book__year">{{ books.year }}</div>
            <div class="todo_item_footer">
                <div class="action_buttons">                
                    {% if books.is_favorite %}
                        <a href="{% url 'mark-todo' books.id %}"><img src="{% static './icons/marked.png' %}" alt=""></a>
                    {% else %}
                        <a href="{% url 'mark-todo' books.id %}"><img src="{% static './icons/unmarked.png' %}" alt=""></a>
                    {% endif %}
              
                <a href="{% url 'delete-todo' books.id %}"><img src="{% static './icons/delete.png' %} " alt=""></a>
            </div>
            </div>
          </div>
   
   
          {% endfor %}
          
      

        </div>
        
            
        </div>
    </section> 
</body>
</html>