{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
</head>
<body>
    <section>
        {% for books in books_list %}
        <div class="book__inner-list">
          
            <div class="book__title">{{ books.title }}</div>
            <div class="book__description">{{ books.description }}</div>
            <div class="book__price">{{ books.price }}</div>
            
        </div>
        {% endfor %}
            
        </div>
    </section> 
</body>
</html>