{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
</head>
<body>
    <section>
        <div class="create_container">
        <form action="{% url 'add-book' %}" method="POST">
            {% csrf_token %}
            <input class="create_input" type="text" placeholder="Напишите загаловок" name="book_title">
            <input class="create_input" type="text" placeholder="Напишите подзагаловок" name="book_subtitle">
            <input class="create_input" type="text" placeholder="Напишите описание" name="book_description">
            <input class="create_input" type="text" placeholder="Напишите цену" name="book_price">
            <input class="create_input" type="text" placeholder="Напишите жанр" name="book_genre">
            <input class="create_input" type="text" placeholder="Напишите автора" name="book_author">
            <input class="create_input" type="text" placeholder="Напишите год выхода книги" name="book_year">
            <button class="create_button">Добавить</button>
        </form>
        </div>
        {% for books in books_list %}
        <div class="book__inner-list">
          
            <div class="book__title">{{ books.title }}</div>
            <div class="book__description">{{ books.description }}</div>
            <div class="book__price">{{ books.price }}</div>
            
        </div>
        {% endfor %}
            
        </div>
    </section> 
</body>
</html>